<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../css/home.css" />
  <title>アンケホーム</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <script>
    window.onload = function() {
      for(let i = 1;i < 5;i++){
        let btn = document.getElementById('btn' + i);
        let hid = document.getElementById('hid'+ i);
        let sub = document.getElementById('sub'+ i);
        let sec = new Section(i,hid,sub);

        btn.onclick = function(){switchHid(sec)}
        sub.onclick = function(){vote(sec)}
      }


      //決定ボタンを押した後、表示内容を変更する
      function vote(sec){
        let btns = document.getElementsByName(sec.num);
        let check = "";
        //１つでもチェックがついているか判断
        for(let i = 0;i < btns.length;i++){
          if(btns[i].checked){
            check = btns[i].value;
          }
        }
        //選択されていなかったとき
        if(!check){
          sec.sub.value = "選択してください"
          return;
        }

        //div内の子要素を全て削除
        while(sec.hid.hasChildNodes()){
          sec.hid.removeChild(sec.hid.firstChild);
        }

        //p要素を作成
        let div = document.createElement('div');
        //テキストを作成
        let text = document.createTextNode(check + "に投票されました");

        //p要素の中にテキストを入れる
        div.appendChild(text);
        //hidの中にp要素を入れる
        sec.hid.appendChild(div);

        //閉じてしまったhidを表示
        switchHid(sec);
      }

      //hidを表示,非表示
      function switchHid(sec){
        if(sec.hid.className == "off"){//offなら表示する
          sec.hid.style.height = "auto";
          sec.hid.style.display = "block"
          sec.hid.className = "on";
        }else if(sec.hid.className == "on"){//onなら非表示にする
          sec.hid.style.height = "0";
          sec.hid.style.display = "none";
          sec.hid.className = "off";
        }else{
          console.log("switchHidで不正なものが入っている")
        }
      }

      //Sectionのコンストラクター
      function Section (num,hid,sub){
        this.num = num;
        this.hid = hid;
        this.sub = sub;
      }
    }

  </script>
</head>
<body>
  <!-- ヘッダー ------------------->
  <header>
    <!--  ナビゲーション  ------------>
    <nav>
      <div id="inner-nav">
        <div id="nav-left">
          <a id="homeLink" class ="active" href="#"><strong>ホーム</strong></a>
          <a id="rankingLink" href="#"><strong>ホットアンケート</strong></a>
        </div>
        <div id="nav-right">
          <div id="search">
              <input id="searchText" type="text" />
              <input id="searchSub" type="submit" value="検索"/>
          </div>
          <div id="nav-right-link">
            <a id="userLink" href="#"><strong>ユーザ</strong></strong></a>
            <a id="questionMakeLink" href="#"><strong>アンケート作成</strong></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div id="contents">
    <main>
      <!-- プロフィール ---------------->
      <section id="profile">
        <div id="userDateImage">
          ユーザー情報
        </div>
        <div id="userDateValues">
          <ul>
            <li><a id="アンケート数" href="#"><span>アンケート数</span><strong>0</strong></a></li>
            <li><a id="いいね" href="#"><span>いいね</span><strong>0</strong></a></li>
          </ul>
          <ul>
            <li><a id="フォロー" href="#"><span>フォロー</span><strong>0</strong></a></li>
            <li><a id="フォロワー" href="#"><span>フォロワー</span><strong>0</strong></a></li>
          </ul>
        </div>
      </section>

      <!-- 検索結果 -------------------->
      <section id="result">
        <article class="slide">
            <input type="button" id="btn1" class="question-action-open" />
            <label for="btn1">
              <div class="question">
                好きな食べ物はなんですか？？
              </div>
              <div id="hid1" class="off">
                <label><input type="radio" name="1" value="リンゴ"/>リンゴ</label>
                <label><input type="radio" name="1" value="ブドウ"/>ブドウ</label>
                <label><input type="radio" name="1" value="ミカン"/>ミカン</label>
                <input id="sub1" type="submit" value="決定"/>
              </div>
            </label>
        </article>
        <article class="slide">
            <input type="button" id="btn2" class="question-action-open" />
            <label for="btn2">
              <div class="question">
                好きな動物はなんですか？
              </div>
              <div id="hid2" class="off">
                <label><input type="radio" name="2" value="シマウマ"/>シマウマ</label>
                <label><input type="radio" name="2" value="カバ"/>カバ</label>
                <label><input type="radio" name="2" value="キリン"/>キリン</label>
                <label><input type="radio" name="2" value="ゾウ"/>ゾウ</label>
                <label><input type="radio" name="2" value="ライオン"/>ライオン</label>
                <input id="sub2" type="submit" value="決定"/>
              </div>
            </label>
        </article>
        <article class="slide">
            <input type="button" id="btn3" class="question-action-open" />
            <label for="btn3">
              <div class="question">
                このWebサイト作るの間に合うと思う?
              </div>
              <div id="hid3" class="off">
                <label><input type="radio" name="3" value="余裕"/>余裕</label>
                <label><input type="radio" name="3" value="たぶん"/>たぶん</label>
                <label><input type="radio" name="3" value="ギリよりのアウト"/>ギリよりのアウト</label>
                <label><input type="radio" name="3" value="無理"/>無理</label>
                <label><input type="radio" name="3" value="作る気すらない"/>作る気すらない</label>
                <input id="sub3" type="submit" value="決定"/>
              </div>
            </label>
        </article>
        <article class="slide">
            <input type="button" id="btn4" class="question-action-open" />
            <label for="btn4">
              <div class="question">
                今日の体調<br />(数字が大きいほど良い)
              </div>
              <div id="hid4" class="off">
                <label><input type="radio" name="4" value="5"/>5</label>
                <label><input type="radio" name="4" value="4"/>4</label>
                <label><input type="radio" name="4" value="3"/>3</label>
                <label><input type="radio" name="4" value="2"/>2</label>
                <label><input type="radio" name="4" value="1"/>1</label>
                <input id="sub4" type="submit" value="決定"/>
              </div>
            </label>
        </article>
      </section>
    </main>
    <!-- その他 ---------------------->
    <div id="sub">
      <section id="other">
        その他
      </section>
    </div>
    <!-- フッター -------------------->
    <footer>
      footer
    </footer>
  </div>
</body>
</html>
