<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>アンケート投稿サイト</title>
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <script type="text/javascript" src="js/lib.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script type="text/javascript" src="js/account.js"></script>
  <script type="text/javascript" src="js/post.js"></script>
  <script type="text/javascript" src="js/search.js"></script>
  <script type="text/javascript" src="js/mail.js"></script>
  <script type="text/javascript" src="js/userSearch.js"></script>

  <script>
    window.onload = function() {
      login.init();
      account.init();
      post.init();
      search.init();
      mail.init();
      userSearch.init();

      const upload = document.getElementById("upload");
      const canva = document.getElementById("canva");
      let file = null; // 選択されるファイル
      let blob = null; // 画像(BLOBデータ)
      const THUMBNAIL_WIDTH = 500; // 画像リサイズ後の横の長さの最大値
      const THUMBNAIL_HEIGHT = 500; // 画像リサイズ後の縦の長さの最大値
      // ファイルが選択されたら
      $('input[type=file]').change(function() {

        // ファイルを取得
        file = this.files[0];
        // 選択されたファイルが画像かどうか判定
        if (file.type != 'image/jpeg' && file.type != 'image/png') {
          // 画像でない場合は終了
          file = null;
          blob = null;
          return;
        }

        // 画像をリサイズする
        let image = new Image();
        let reader = new FileReader();
        reader.onload = function(e) {
          image.onload = function() {
            let width, height;
            if(image.width > image.height){
              // 横長の画像は横のサイズを指定値にあわせる
              const ratio = image.height/image.width;
              width = THUMBNAIL_WIDTH;
              height = THUMBNAIL_WIDTH * ratio;
            } else {
              // 縦長の画像は縦のサイズを指定値にあわせる
              const ratio = image.width/image.height;
              width = THUMBNAIL_HEIGHT * ratio;
              height = THUMBNAIL_HEIGHT;
            }
            // サムネ描画用canvasのサイズを上で算出した値に変更
            let canvas = $('#canvas')
                         .attr('width', width)
                         .attr('height', height);
            let ctx = canvas[0].getContext('2d');
            // canvasに既に描画されている画像をクリア
            ctx.clearRect(0,0,width,height);
            // canvasにサムネイルを描画
            ctx.drawImage(image,0,0,image.width,image.height,0,0,width,height);
            // canvasからbase64画像データを取得
            const base64 = canvas.get(0).toDataURL('image/jpeg');
            // base64からBlobデータを作成
            let barr, bin, i, len;
            bin = atob(base64.split('base64,')[1]);
            len = bin.length;
            barr = new Uint8Array(len);
            i = 0;
            while (i < len) {
              barr[i] = bin.charCodeAt(i);
              i++;
            }
            blob = new Blob([barr], {type: 'image/jpeg'});
          }
          image.src = e.target.result;
        }
        reader.readAsDataURL(file);
      });

      // アップロード開始ボタンがクリックされたら
      upload.onclick = function(){
        const data = canvas.toDataURL('files');
        // ファイルが指定されていなければ何も起こらない
        if(!file || !blob) {
          alert("指定されてないぞ");
          return;
        }
        //var name, fd = new FormData();
        //fd.append('file', blob); // ファイルを添付する
        $.ajax({
          url: "file", // 送信先
          type: 'POST',
          dataType: 'json',
          processData: false,
          contentType: false,
          data:{'data':data}
        })
        .done(function(res) {
          const elem = document.getElementById("image");
          elem.src=data;
        })
        .fail(function(res) {
          // 送信失敗
          alert("送信失敗");
        });
      };
    }
  </script>
</head>
<body>
  <section id="inputBox">
    <div id="queryBox">
      アンケート内容：<input type="text" id="inputQuery"/>
    </div>
    <div id="answerBox">
      <div id="inputAnswer1">
        回答選択肢１：
        <input type="text" name="inputAnswer" />
      </div>
    </div>
    <div id="answerTypeBox">
      回答形式を選択して下さい<br>
      <label>
        <input type="radio" name="inputAnswerType" value="ラジオ" checked> ラジオ式
      </label>
      <label>
        <input type="radio" name="inputAnswerType" value="チェック" disabled="disabled"> チェック式（実装中）
      </label>
      <label>
        <input type="radio" name="inputAnswerType" value="記述" disabled="disabled"> 記述式（未実装）
      </label>
    </div>
    <div>
      <input type="button" id="inputAddBtn" value="解答追加"/>
      <input type="button" id="inputDelBtn" class="off" value="解答削除"/>
      <input type="submit" id="inputSub" disabled="disabled" value="送信">
    </div>
  </section>
  <section id="result">
    <div id="searchBox">
      <input type="text" id="searchValue" />
      <input type="submit" id="searchSub" value="投稿を取得" />
    </div>
  </section>
  <section id="usersection">
    <div id="userBox">
      <input type="text" id="userSearch"/>
      <input type="submit" id="uerSearchSub" value="ユーザー取得" />
    </div>
  </section>
  <section id="loginBox">
    <input type="text" id="inputloginid" />
    <br>
    <input type="password" id="inputloginpass" />
    <br>
    <input type="submit" id="inputlogin" value="ログイン">
    <input type="submit" id="inputlogout" value="ログアウト">
    <br>
    <input type="text" id="inputaccount" />
    <br>
    <input type="password" id="inputgetpass" />
    <br>
    <input type="submit" id="inputget" value="ユーザー登録">
    <br>
    <input type="submit" id="inputuser" value="ユーザー情報">
    <br>
  </section>
  <section id="mail">
    <input type="text" id="inputmailadress">
    <br>
    <input type="submit" id="inputmail" value="メール送信">
  </section>

  <section id="filecs">
    <input type="file" name="userfile" accept="image/*">
    <!-- サムネイル表示領域 -->
    <canvas id="canvas" width="0" height="0"></canvas>
    <!-- アップロード開始ボタン -->
    <br>
    <input type="button" id="upload" value="投稿">
    <br>
    <img id=image src="image/default.png" alt="取得した画像" title="base64の画像" width="300" height="200">
  </section>
</body>
</html>
