<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>アンケート投稿サイト</title>
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <script type="text/javascript" src="js/post.js"></script>
  <script type="text/javascript" src="js/search.js"></script>

  <script>
    window.onload = function() {
      var user = null;

      post.init();
      search.init();

      const inputloginid = document.getElementById("inputloginid");
      const inputloginpass = document.getElementById("inputloginpass");
      const inputlogin = document.getElementById("inputlogin");
      const inputlogout = document.getElementById("inputlogout");
      const inputaccount = document.getElementById("inputaccount");
      const inputgetpass = document.getElementById("inputgetpass");
      const inputget = document.getElementById("inputget");
      const inputuser = document.getElementById("inputuser");
      const inputmail = document.getElementById("inputmail");
      const inputmailadress = document.getElementById("inputmailadress");

      //ログイン処理
      inputlogin.onclick = function(){
        $.ajax({
          type: "POST",
          url: "/login/",
          dataType: 'json',
          data:function(id,pass){
            const logobj = {_id:id.value,pass:pass.value};
            return logobj;
          }(inputloginid,inputloginpass)
        })
        .done(function(res){
          if(res.boo == 1){
              console.log("ログイン成功");
              // sessionに値をセット
              window.sessionStorage.setItem(['userid'],[res.userid]);
              window.sessionStorage.setItem(['userpass'],[res.userpass]);
              // cookieに値をセット
              document.cookie = 'userid=' + res.userid;
              document.cookie = 'userpass=' + res.userpass;
              console.log(document.cookie);

              user = {_id:res.userid,_pass:res.userpass};
          }else{
              console.log("ログイン失敗");
          }
        })
        .fail(function(res){
          console.error(res);
        });
      };
      //ログアウト処理
      inputlogout.onclick = function(){
        //sessionとcookieを削除
        window.sessionStorage.clear();
        document.cookie = 'userid=; max-age=0'
        document.cookie = 'userpass=; max-age=0'
        user = null;
        console.log(document.cookie);
      }

      //セッション保持
      if(document.cookie != null){
        console.log("別タブ開いた！");
        // sessionに値をセット
        window.sessionStorage.setItem(['userid'],[getCookie('userid')]);
        window.sessionStorage.setItem(['userpass'],[getCookie('userpass')]);
        //userに情報をセット
        user = {_id:getCookie('userid'), _pass:getCookie('userpass')};
        console.log(document.cookie);
      }

      //ログイン情報登録
      inputget.onclick = function(){
        $.ajax({
          type: "POST",
          url: "/account/",
          dataType: 'json',
          data:function(id,pass){
            const logobj = {_id:id.value,pass:pass.value};
            return logobj;
          }(inputaccount,inputgetpass)
        })
        .done(function(res){
          if(res==1){
            //ここでメールを送る
              console.log("仮登録が完了しました。");
          }else{
              console.log("既に登録されているIDです！");
          }
        })
        .fail(function(res){
          console.error(res);
        });
      };

      /**
       *inputuserボタンが押されたときにログイン状態ならユーザー情報を返す
       * @method
       * @return {undefind} [user]
      */
      inputuser.onclick = function(){
        const userId = window.sessionStorage.getItem(['userid']);
        if(userId){
          const inp = document.getElementById("login_ts");
          if(!inp){
            let text = document.createElement("div");
            text.id = "login_ts";
            text.appendChild(document.createTextNode(userId + "さんでログイン中"));
            loginBox.appendChild(text);
          }
          console.log(document.cookie);
        }else{
          console.log("ログインしてません")
        }
      }

       inputmail.onclick = function(){
         $.ajax({
           type: "POST",
           url: "/mail/",
           dataType: 'json',
           data:{value:inputmailadress.value}
         })
         .done(function(res){
           console.log("successful");
         })

         .fail(function(res){
           console.error(res);
         });
       }

       /**
        *cookieの値を取得
        *引数 @name
        * @return {result}
       */
       function getCookie( name ){
         let result = null;

         const cookieName = name + '=';
         const allcookies = document.cookie;

         const position = allcookies.indexOf( cookieName );
         if( position != -1 ){
           let startIndex = position + cookieName.length;

           let endIndex = allcookies.indexOf( ';', startIndex );
           if( endIndex == -1 ){
             endIndex = allcookies.length;
           }
           result = decodeURIComponent(allcookies.substring( startIndex, endIndex ) );
         }
         return result;
       }
    }
  </script>
</head>
<body>
  <section id="inputBox">
    <input type="text" id="inputQuery"/>
    <br />
    <input type="text" name="inputAnser" />
    <br />
    <input type="button" id="inputAddBtn" value="解答追加"/>
    <input type="button" id="inputDelBtn" class="off" value="解答削除"/>
    <input type="submit" id="inputSub" value="送信">
  </section>
  <section id="result">
    <div id="searchBox">
      <input type="text" id="searchValue" />
      <input type="submit" id="searchSub" value="取得" />
    </div>
  </section>

  <section id="loginBox">
    <input type="text" id="inputloginid" />
    <br>
    <input type="password" id="inputloginpass" />
    <br>
    <input type="submit" id="inputlogin" value="ログイン">
    <input type="submit" id="inputlogout" value="ログアウト">
    <br>
    <input type="text" id="inputaccount" />
    <br>
    <input type="password" id="inputgetpass" />
    <br>
    <input type="submit" id="inputget" value="ユーザー登録">
    <br>
    <input type="submit" id="inputuser" value="ユーザー情報">
    <br>
  </section>

  <section id="mail">
    <input type="text" id="inputmailadress">
    <br>
    <input type="submit" id="inputmail" value="メール送信">
  </section>
</body>
</html>
